@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 25px;
}

/* -------- Header ------ */
header {
  padding: 10px;
  background: #084983;
  height: 5rem;
}

header img {
  height: 50px;
}

/* -------- Navigation ------ */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  float: right;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  float: left;
  margin-right: 40px;
}

.nav {
  text-transform: uppercase;
  float: left;
}

/* -------- Lien ------ */
a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #1e93cc;
}

a#mail:link, a#mail:visited {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

a#mail:hover {
  color: #000;
}

/* -------- H ------ */
h1 {
  font-size: 30px;
  color: #084983;
}

h2 {
  font-size: 30px;
  color: #084983;
}

h4 {
  font-size: 24px;
  color: #084983;
}

h5 {
  font-size: 18px;
  color: #084983;
}

h6 {
  font-size: 24px;
  color: #fff;
  line-height: 10px;
}

/* -------- Section ------ */
.imgHome {
  width: 1920px;
}

#Citation {
  width: auto;
  background: #084a83;
  margin-top: 100px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-weight: 500;
}

#Citation #Albert {
  text-align: right;
  font-weight: 900;
}

#Propos {
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Actualité {
  margin-top: 100px;
}

#Actualité img {
  width: 500px;
}

#Contact {
  margin-top: 100px;
  margin-bottom: 100px;
}

#Contact img {
  height: 40px;
}

#video {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* -------- Texte ------ */
.titre {
  font-weight: bold;
}

/* -------- Footer ------ */
footer {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  background: #084983;
  color: #fff;
}
